<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/admin/">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu.hbs}}
<div class="admin-contents">
    <div class="hta-tmep-title">관리자홈</div>
</div>
</body>
</html>